@use "./components/all" as *;
@use "./utilities/all" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    background-color: $footer-info-bgc;
}

html {
    scroll-behavior: smooth;

    user-select: none;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
    color: $white;
    color: ($text-color);
    transition: all .3s;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul li {
    list-style: none;
}

ol,
ul {
    padding-left: 0 !important;
}

li {
    transition: .3s;

    &:hover {
        color: $primary-color;
    }
}

dl,
ol,
ul {
    margin-bottom: 0rem !important;
}

// HEADING :

span {
    font-size: 18px;

    @media (max-width:1000px) {
        font-size: 16px;
    }
}

h2 {
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 50px;
    color: $white;
    @include text-shadow(2px, 2px, 5px, black);
}

h3 {
    font-size: 36px;
    font-weight: 600;
    color: $primary-color;

    @media (max-width:1000px) {
        font-size: 24px;
    }
}

// Button :

button {
    padding: 15px 30px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    border-radius: 8px;
    border: 2px solid $primary-color;
    background-color: $primary-color;
    @include transition (all, .3s);

    &:hover {
        color: $primary-color;
        background-color: $white;
        transform: scale(1.1);
    }

    @media (max-width: 1000px) {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.reverse {
    color: $primary-color;
    background-color: transparent;

    &:hover {
        color: $white;
        background-color: $primary-color;
        transform: scale(1.1);
    }
}