@use "./mixin" as *;

.section-box {
    position: relative;
    top: -50px;
    width: 100%;
    padding: 40px 60px;
    border-radius: 20px;
    color:($text-color);
    background-color: $white;
    @include box-shadow(5px, 5px, 5px, $shadow-section-bgc);

    @media (max-width:1000px) {
        padding: 16px;
    }
}

.section-bgc {
    background-color: $section-bgc;
}

.z-index {
    z-index: 1;
}

.heading {
    @include display-justify-align(flex, center, center);
    @include width-height(100%, 300px);
    margin-top: 106px;
    background: $heading-bgc;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;

    @media (max-width:1000px) {
        padding: 0 10px;
    }
}