$white: #ffffff;
$black: #000000;
$primary-color: #007AB8;
$secondary-color: #00aeef;

// Text : 
$text-color: #595959;

// Navigation :
$nav-bgc: #020202cb;
$nav-mobile-bgc: #020202d9;
$nav-mobile-bgc-Y: #03030380;

// Backgroudn-Heading :
$heading-bgc: linear-gradient(0deg, rgba(0, 124, 170, 1) 0%, rgba(0, 174, 239, 1) 100%);

// White-section : 
$section-bgc: #d9d9d9;

// Footer :
$footer-info-bgc: #070707;
$footer-author-bgc: #020202;

// Shadow :
$shadow-section-bgc: rgba(0, 0, 0, 0.15);