@use "../utilities/all.scss" as *;

.diagram {
    &__box {
        @include display-justify-flex(flex, space-between, column);
    }

    &__boxes {
        @include display-justify-flex(flex, center, column);

        @media(max-width:991px) {
            flex-direction: column;
        }
    }

    &__logo {
        @include display-justify-align(flex, center, center);
        margin: 10px 0;

        img {
            width: 300px;

            @media(max-width:991px) {
                width: 200px;
            }
        }
    }

    &__table {
        @include display-justify-align-flex(flex, center, stretch, column);

        &--table {
            display: grid;
            width: 100%;
            gap: 20px;

            table,
            th,
            td {
                text-align: center;
                padding: 10px 5px;
                font-weight: 600;
                border: 2px solid $primary-color;
                color: $primary-color;
            }

            table {
                width: 100%;
                gap: 20px 0px;
            }

            th {
                width: 25%;
                font-size: 20px;
                border: 2px solid $primary-color;
                color: $white;
                background-color: $primary-color;

                @media(max-width:991px) {
                    font-size: 12px;
                }
            }

            td {
                span {
                    @media(max-width:991px) {
                        font-size: 12px;
                    }
                }

                @media(max-width:991px) {
                    font-size: 12px;
                }
            }
        }

        &--kids {
            @media (max-width:456px) {
                display: block;
            }
        }

        &--adults {
            @media (max-width:542px) {
                display: block;
            }
        }
    }

    &__title {
        @include display-justify-align-flex(flex, center, center, column);
        margin: 20px 0px;
    }
}