@use "../utilities/all.scss" as *;

.footer {
    a {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }

    &__info {
        padding: 25px 0;
        background-color: $footer-info-bgc;
    }

    &__box {
        @include display-justify-align-flex(flex, space-between, center, row);

        @media (max-width:991px) {
            flex-direction: column;
            gap: 20px 0;
        }
    }

    &__menu {
        display: flex;
        @include display-justify-align-flex(flex, flex-start, flex-start, column);
        gap: 5px;
        font-size: 18px;

        @media (max-width:991px) {
            @include justify-align;
        }
    }

    &__logos {
        @include display-justify-align-flex(flex, center, center, column);

        &--google {
            @include transform-scale(0.6);
        }

        &--united {
            @include transform-scale(0.75);
        }
    }

    &__contact {
        @include display-justify-align-flex(flex, flex-end, flex-end, column);
        text-align: end;
        gap: 5px;
        transition: all .3s;

        &--icons {
            font-size: 36px;

            &:hover {
                color: $primary-color;
                @include transform-scale(1.2);
            }
        }

        @media (max-width:991px) {
            @include justify-align;
        }
    }

    &__author {
        padding: 15px 0;
        text-align: center;
        color: $white;
        background-color: $footer-author-bgc;

        &--author {
            @include display-justify-align(flex, center, center);

            span {
                font-size: 16px;

                @media (max-width:991px) {
                    font-size: 12px;
                }

                [data-author='author'] {
                    @media (max-width:450px) {
                        display: block;
                    }
                }
            }
        }
    }
}