@use "../utilities/all.scss" as *;

.header {
    height: 100vh;
    z-index: -100;

    &__boxes {
        &--img {
            @include filter(0.25);
            height: 800px;
            width: 800px;
        }

        &--text {
            text-align: center;
            z-index: 999;

            .uptitle {
                @extend .opacity;
                @include filter(0.5);
                text-transform: uppercase;
                animation: znikanie 1s 2s ease-in forwards;
            }

            .names {
                .title {
                    @extend .opacity;
                    text-transform: uppercase;
                    animation: znikanie 1s 2s ease-in forwards;
                }

                .subtitle {
                    @extend .opacity;
                    @include filter(0.8);
                    animation: znikanie 1.5s 2s ease-in forwards;

                    &__and {
                        @extend .transition;

                        &:hover {
                            position: relative;
                            color: $white;
                            font-weight: 600;

                            &:after,
                            &:before {
                                content: "";
                                position: absolute;
                                bottom: 10px;
                                width: 400px;
                                height: 2px;
                                background-color: $white;
                                border-radius: 50%;
                                animation-duration: 2s;
                            }

                            &:after {
                                animation: pojawianie_one 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
                            }

                            &:before {
                                animation: pojawianie_two 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
                            }
                        }
                    }
                }
            }

            .button {
                [role="przycisk"] {
                    @extend .opacity, .transition;
                    padding: 15px 30px;
                    border: 2px solid $white;
                    text-transform: uppercase;
                    color: $white;
                    animation: znikanie 1s 3s ease-in forwards;

                    &:hover {
                        padding: 15px 15px;
                        color: $black;
                        background-color: $white;
                    }
                }
            }
        }
    }
}

@keyframes znikanie {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pojawianie_one {
    0% {
        left: 400px;
        opacity: 0;
    }

    50% {
        left: -250px;
        opacity: 1;
    }

    100% {
        left: -750px;
        opacity: 0;
        width: 200px;
    }
}

@keyframes pojawianie_two {
    0% {
        right: 400px;
        opacity: 0;
    }

    50% {
        right: -250px;
        opacity: 1;
    }

    100% {
        right: -700px;
        opacity: 0;
        width: 200px;
    }
}