@use "../utilities/all.scss" as *;

.section-box {
    display: grid;
    gap: 100px;

    @media(max-width:991px) {
        gap: 25px;
    }
}

.main {
    &__bgc {
        position: relative;
        height: 100vh;
        @include background-img("../img/z-2.jpg");
        z-index: 0;

        &--dark {
            position: absolute;
            top: 0;
            left: 0;
            @include width-height(100%, 100%);
            background-color: rgba(0, 0, 0, 0.75);
            z-index: -10;
        }

        &--heading {
            @include display-justify-align-flex(flex, center, center, column);
            height: 100%;
            color: $white;

            h2 {
                @include font-weight(50px);
                color: $primary-color;

                @media (max-width:991px) {
                    font-size: 40px;
                }

                @media (max-width:500px) {
                    font-size: 30px;
                }
            }
        }
    }

    &__section-one {
        @include display-justify-align-flex(flex, center, center, row);

        &--logo {
            @include display-justify-align(flex, center, center);
            margin: 20px 0;

            img {
                width: 300px;

                @media (max-width:991px) {
                    width: 200px;
                }
            }
        }

        &--content {
            @include display-justify-align-flex(flex, center, flex-start, column);
            gap: 20px;
            padding: 20px;

            @media (max-width:991px) {
                @include display-justify-align-flex(flex, center, center, column);
                padding: 10px;
            }
        }

        @media(max-width:991px) {
            flex-direction: column;
        }
    }

    &__section-two {
        @include display-justify-align-flex(flex, center, center, row-reverse);

        &--content {
            @include display-justify-align-flex(flex, center, flex-start, column);
            gap: 20px;
            padding: 20px;

            @media (max-width:991px) {
                @include display-justify-align-flex(flex, center, center, column);
                padding: 10px;
            }
        }

        &--logo {
            @include display-justify-align(flex, center, flex-end);

            img {
                margin: 20px;
                height: 360px;
                @include border-radius-overflow;

                @media(max-width:991px) {
                    margin: 20px 0px;
                }
            }
        }

        @media(max-width:991px) {
            flex-direction: column;
        }
    }

    &__section-three {
        &--content {
            margin: 20px 0;
            padding: 10px;

            .swiper {
                @include width-height(100%, 100%);
                margin-left: auto;
                margin-right: auto;
            }

            .swiper-wrapper {
                @include width-height(100px, 100%);
            }

            .swiper-slide {
                @include display-justify-align-flex(flex, center, center, column);
                padding: 20px;
                width: 100px;
                border-radius: 20px;
                background-color: rgba(0, 176, 240, 0.075);

                img {
                    margin: 10px 0;
                    width: 150px;
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}