@use "../utilities/all.scss" as *;

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 18px;
    background-color: $nav-bgc;
    @extend .z-index !optional;

    &__logo {
        @include width-height(400px, 90px);
        @include img-size("/dist/img/UnitedKravMagaLogo.png", 0.75, -60px);
    }

    &__box {
        @include display-justify-align(flex, space-between, center);
    }

    &__list {
        display: flex;
        gap: 20px;

        li {
            a {
                position: relative;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 1px;

                &:hover {
                    color: $primary-color;
                }

                &:after {
                    @include content-position;
                    bottom: -5px;
                    left: 0;
                    @include width-height(100%, 3px);
                    @include transform-scale-X(0);
                    transform-origin: right;
                    background-color: $primary-color;
                    transition: transform .5s;
                }

                &:hover:after {
                    @include transform-scale-X(1);
                    transform-origin: left;
                }
            }
        }
    }

    &__toggle {
        display: none;
        padding-right: 10px;
    }

    &__icon {
        @include width-height(40px, 35px);
        @include display-justify-align-flex(flex, space-between, center, column);

        .bar {
            margin: 3px 0;
            @include width-height(40px, 3px);
            background-color: $white;
        }
    }

    @media (max-width:1000px) {
        font-size: 26px;
        background-color: transparent;
        z-index: 2;

        &__logo {
            @include width-height(120px, 90px);
            @include img-size("/dist/img/UnitedKravMagaIcon.png", 0.75, -20px);
            z-index: 1;
        }

        &__list {
            position: absolute;
            @include display-justify-align-flex(none, center, center, column);
            @include width-height(100%, 100vh);
            @include top-right-bottom-left(0px, 0px, 0px, 0px);
            background: $nav-mobile-bgc;
        }

        &__toggle {
            display: block;
            z-index: 1;
        }

        &__list {
            li {
                text-align: center;
                margin: 0;
            }
        }

        .show {
            display: flex;
        }

        .burger-icon.active .bar:nth-child(1) {
            @include transform-r-t(-45deg, -6px, 7px);
            background-color: $primary-color;
        }

        .burger-icon.active .bar:nth-child(2) {
            opacity: 0;
        }

        .burger-icon.active .bar:nth-child(3) {
            @include transform-r-t(45deg, -6px, -7px);
        }
    }
}