@use "../utilities/all.scss" as *;

#nav-list {
    @media(max-width:991px) {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s, visibility .5s;
    }
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 18px;
    background-color: $nav-bgc;
    transition: background-color 0.5s ease;
    @extend .z-index !optional;

    &__logo {
        @include width-height(400px, 90px);
        @include img-size("../img/UnitedKravMagaLogo.png", 0.75, -60px);

        @media (max-width:991px) {
            @include width-height(120px, 90px);
            @include img-size("../img/UnitedKravMagaIcon.png", 0.75, -20px);
            z-index: 1;
        }
    }

    &__box {
        @include display-justify-align(flex, space-between, center);
    }

    &__list {
        display: flex;
        gap: 20px;

        li {
            a {
                position: relative;
                color: $white;
                text-transform: uppercase;
                font-size: 17px;
                letter-spacing: 1px;

                &:hover {
                    color: $secondary-color;
                }

                &:after {
                    @include content-position;
                    bottom: -5px;
                    left: 0;
                    @include width-height(100%, 3px);
                    @include transform-scale-X(0);
                    transform-origin: right;
                    background-color: $secondary-color;
                    transition: transform .5s;
                }

                &:hover:after {
                    @include transform-scale-X(1);
                    transform-origin: left;
                }

                @media (max-width:991px) {
                    font-size: 26px;
                }
            }

            @media (max-width:991px) {
                text-align: center;
                margin: 0;
            }
        }

        @media (max-width:991px) {
            position: absolute;
            @include display-justify-align-flex(none, center, center, column);
            @include width-height(100%, 100vh);
            @include top-right-bottom-left(0px, 0px, 0px, 0px);
            background: $nav-mobile-bgc;
        }
    }

    &__toggle {
        display: none;
        padding-right: 10px;

        @media (max-width:991px) {
            display: block;
            z-index: 1;
        }
    }

    &__icon {
        @include width-height(40px, 35px);
        @include display-justify-align-flex(flex, space-between, flex-end, column);

        .bar {
            margin: 4px 0;
            background-color: $white;
            transition: transform .5s ease;

            &:nth-child(1) {
                @include width-height(40px, 3px);
            }

            &:nth-child(2) {
                @include width-height(30px, 3px);
                background-color: $secondary-color;
                transition: opacity .3s;
            }

            &:nth-child(3) {
                @include width-height(40px, 3px);
            }
        }
    }

    @media (max-width:991px) {
        font-size: 26px;
        background-color: transparent;
        z-index: 2;
        transition: all .5s ease !important;

        .active {
            .bar {
                transition: transform .5s ease;

                &:nth-child(1) {
                    @include transform-r-t(-45deg, -6px, 7px);
                    background-color: $secondary-color;
                }

                &:nth-child(2) {
                    opacity: 0;
                    transition: opacity .3s;
                }

                &:nth-child(3) {
                    @include transform-r-t(45deg, -6px, -7px);
                }
            }
        }
    }
}